{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "lodash"
    ]
  ]
}
