.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-gray-900 {
  color: #1a202c;
}

.font-sans {
  font-family: Nunito, sans-serif;
}

.min-h-screen {
  min-height: 100vh;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex {
  display: flex;
}

.bg-gray-200 {
  background-color: #edf2f7;
}

.w-96 {
  width: 24rem;
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.overflow-hidden {
  overflow: hidden;
}

.mt-6 {
  margin-top: 1.5rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.bg-white {
  background-color: #fff;
}

.block {
  display: block;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.justify-end {
  justify-content: flex-end;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 0.5rem;
}
